#pad {
    padding-bottom: 10%;
    padding-top: 10%;
}
body { 
    padding: 1rem;
    text-align: center;
}

.card {
  padding: 1rem;
  border: 1px solid #c8c8c8;
  height: auto;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10rem;
}
* {
    font-size: 20px;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 600px) {
    #pad {
        padding-bottom: 10%;
    }
    .logo {
        padding-left: 15%;
    }
}

div {
    padding-left: 10%;
    padding-right: 10%;
}

.ingredients,
.steps {
    text-align: left;
}
.img-desc {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}
.back {
    padding-top: 5%;
    padding-bottom: 5%;
}
.title {
    color: #f00;
    padding-top: 2%;
}
.header {
    border-bottom: 1px solid #e6e6e6;
    height: auto;
}
footer {
    border-top: 1px solid #e6e6e6;
    height: 100px;
}
.copyright {
    margin-top: 50px;
}
.logo {
    margin-left: 2%;
}